# Google Sheets Sync
VITE_GOOGLE_SHEETS_WEBHOOK_URL="https://script.google.com/macros/s/AKfycbyFyxLdRLlpormotT-2zDdDN64Trlib5A7uNxsYbhhzWfvemL0KHfVNYcXJGVLPndkB/exec"
VITE_GOOGLE_SHEET_ID="1ItCgnXRothgSUuZA4QdgLu8ElJYRg8ePpQXksvv0P_4"

# Supabase Configuration
VITE_SUPABASE_URL="https://qdtmaimkoveommkgrpby.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkdG1haW1rb3Zlb21ta2dycGJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3MzgyMjAsImV4cCI6MjEwMTMxNDIyMH0.20Qa2yAGFyL8gSBOsExT991_YyNSR2gYIS9X9dFvDac"

# Application URL (Use the Shared App URL from AI Studio for public access)
VITE_APP_URL=
